.App {
  text-align: center;
  background-color: #747474;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  align-items: center;
  min-height: 100vh;
}

.App-logo {
  height: 25vmin;
  margin-top: 5vmin;
  width: 280px;
  height: 150px;
}

.App-header {
  color: white;
  padding-bottom: 2vh;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: contents;
  flex-direction: row;
}

.App-link {
  color: #09d3ac;
}

button{
  color: #4f5251;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  pointer-events: all;
}

button:hover:enabled {
  outline: none;
  background: rgb(169, 173, 169);
}

.square:disabled {
  outline: none;
  background: rgba(228, 228, 228, 0.877);
}

.square{
  background: #fff;
}

#settingBox{
  padding-bottom: 2vh;
}

label{
  padding: 5px;
  font-size: large;
}

.mine{
  background: rgb(189, 45, 45);
}

img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}